/examples/server.pro.user
/obj
/examples/st-test.xcodeproj
._.DS_Store
.DS_Store
/LINUX_4.4.0-31-generic_DBG
/LINUX_16.6.0_DBG
/LINUX_4.4.0-141-generic_DBG
/examples/build-server-Desktop_Qt_5_7_0_GCC_64bit-Debug
/.idea
/logs/errors
