/obj
st-study.xcodeproj
._.DS_Store
.DS_Store
/LINUX_4.4.0-31-generic_DBG
/LINUX_16.6.0_DBG
/logs
/LINUX_4.4.0-141-generic_DBG
/myworkspace/server
/myworkspace/build-server-Desktop_Qt_5_7_0_GCC_64bit-Debug
/.idea
